.footer {
    left: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
   margin: auto;
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;

}

.largeSocialIcons{
    font-size: 22px;
    margin-left:15px;
}