
<nav class="navbar-custom ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand navLogoHeading" href="#"><b>MCCIIT</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/leaderboard']">Leaderboard</a></li>
      <li><a [routerLink]="['/committee']">About</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
