<div class="container-fluid header">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <h1 class="mainHeading"> 
              HOW DO I CONTRIBUTE?
              </h1>
          </div>
      </div>
  </div>
</div>

<div class="container-fulid">
  <div class="container">


      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 1</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                     Go to the github organization page and select a repository/project that you would like to contribute 
                  </p>
                  <p text-center class="smallWidth">
                    <a href="https://github.com/Mozilla-Campus-Club-IIT">https://github.com/Mozilla-Campus-Club-IIT</a>
                 </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/one.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->
      <hr>
      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 2</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Take a look at the issues
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/issue.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->
      <hr>
      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 3</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Fork the project to you account by clicking the 'Fork' button
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/two.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->
      <hr>
       <!--Step Start-->
       <section class="sectionOne">
          <h1 class="mainHeading">Step 4</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Clone the project to your local storage by copying the repo url and running the following command in the terminal
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/three.png" >
            </div>    
          </div>
          <br>
          <br>
          <div class="row">
              <p text-center class="smallWidth">
                  <b>Commad :</b> git clone url-of-repo.git
              </p>
              <div class="col-sm-12">
                <img class="img-responsive imgScreenshotSmaller" src="../../assets/img/screenshots/clone.png" >
              </div>    
          </div>
      </section> 
      <!--Step end-->
      <hr>
      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 5</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Open project in your favourite IDE/Text editor and make the changes
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/edit.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->
      <hr>
      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 6</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Add and commit the changes with the following commands
                  </p>
                  <p text-center class="smallWidth">
                      <b>Add Commad :</b> git add . | <b>Commit Commad :</b> git commit -m "your commit message comes here"
                  </p>
      
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshotSmaller" src="../../assets/img/screenshots/addandcommit.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->
      <hr>
      <!--Step Start-->
      <section class="sectionOne">
        <h1 class="mainHeading">Step 7</h1>
        <div class="row">
            <div class="col-sm-12">
                <p text-center class="smallWidth">
                    Push your local repo chamges to your remote repo using the follwing cammand
                </p>
                <p text-center class="smallWidth">
                    <b>Commad :</b> git push
                </p>
    
            </div>    
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img class="img-responsive imgScreenshotSmaller" src="../../assets/img/screenshots/push.png" >
          </div>    
      </div>
    </section> 
    <!--Step end-->
    <hr>

      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Step 8</h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                     Finally , make a pull request to send your changes to the main organization repo
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/pull.png" >
            </div>    
        </div>
      </section> 
      <!--Step end-->

      <hr>

      <!--Step Start-->
      <section class="sectionOne">
          <h1 class="mainHeading">Thats it :) </h1>
          <div class="row">
              <div class="col-sm-12">
                  <p text-center class="smallWidth">
                      Now you know how to contribute to an organization in Github . 
                  </p>
              </div>    
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- <img class="img-responsive imgScreenshot" src="../../assets/img/screenshots/pull.png" > -->
            </div>    
        </div>
      </section> 
      <!--Step end-->

      <br>
      <br>
    </div>  
</div>
    