

<h1 class="mainHeading" *ngIf="!isAvailable"> 
 Loading ...
</h1>

<div class="row" *ngIf="isAvailable">
    <div class="col-xs-12">
  
      <h1 class="mainHeading"> 
        Top 3 Contributors
      </h1>
      <h3 class="repoHeading"  *ngIf="isAvailable"> 
        <b>Organization : </b > {{leaderboardObject.leaderboard.organizationName}} &nbsp;&nbsp; | &nbsp;&nbsp;
        <b>Repo : </b > {{leaderboardObject.leaderboard.repoName}}
      </h3>
      <br>
      <br>
     
    </div>
  </div>
  <div class="container" *ngIf="isAvailable">
      <div class="row">
          <div class="col-md-4">
            <div class="winnerContainer">
              <img class="imgPosition" src="./assets/img/firstPlace.png" >
              <br>

              <img class="imgProfilePic" src="{{leaderboardObject.leaderboard.topThree[0].profilePicUrl}}" alt="ProfilePic" >
              <h3 class="winnerName">{{leaderboardObject.leaderboard.topThree[0].username}}</h3>
              <hr>
              <h3>{{leaderboardObject.leaderboard.topThree[0].numberOfCommits}} Commits</h3>
              <hr>
              <a href="https://github.com/{{leaderboardObject.leaderboard.topThree[0].username}}">View profile</a>
              
            </div>
          </div>
          <div class="col-md-4">
              <div class="winnerContainer">
                <img class="imgPosition" src="./assets/img/secondPlace.png">
                <br>
                <img class="imgProfilePic" src="{{leaderboardObject.leaderboard.topThree[1].profilePicUrl}}" alt="ProfilePic" >
                <h3 class="winnerName">{{leaderboardObject.leaderboard.topThree[1].username}}</h3>
                <hr>
                <h3>{{leaderboardObject.leaderboard.topThree[1].numberOfCommits}} Commits</h3>
                <hr>
                <a href="https://github.com/{{leaderboardObject.leaderboard.topThree[1].username}}">View profile</a>
              </div>
            </div>
            <div class="col-md-4">
                <div class="winnerContainer">
                    <img class="imgPosition" src="./assets/img/thirdPlace.png">
                    <br>
                    <img class="imgProfilePic" src="{{leaderboardObject.leaderboard.topThree[2].profilePicUrl}}" alt="ProfilePic" >
                    <h3 class="winnerName">{{leaderboardObject.leaderboard.topThree[2].username}}</h3>
                    <hr>
                    <h3>{{leaderboardObject.leaderboard.topThree[2].numberOfCommits}} Commits</h3>
                    <hr>
                    <a href="https://github.com/{{leaderboardObject.leaderboard.topThree[2].username}}">View profile</a>
                </div>
            </div>   
        </div>
  </div>
  
  
  
  
  