<app-header></app-header>
<div class="container-fulid">
    <div class="container">
        <!--What is MCCIIT Section -->
        <section class="sectionOne">
            <img class="img-responsive aboutImg" src="../../assets/img/whatismcciit.png" >
            <h1 class="mainHeading">What is <b>MCCIIT?</b></h1>
            <div class="row">
                <div class="col-sm-12">
                    <p text-center class="smallWidth">
                        <b>Mozilla Campus Club of Informatics Institute of Technology (MCCIIT) </b>is an open source club which promotes the open source culture inside our university. MCCIIT organize sessions to craft the knowledge on tools to contribute to open source and also encourage students to contribute on Github by showing them the positive impacts that open source have on other peoples and also on their own lives .
                    </p>
                </div>    
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="largeSocialIcons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-github"></i>
                            <i class="fab fa-linkedin"></i>
                            <i class="fab fa-instagram"></i>        
                    </div>  
                </div>    
            </div>

        </section>

        <br>

        <!-- Latest project  -->
        <section class="sectionOne">
            <h3 class="mainHeading"><b>Latest open source project</b></h3>
            <div class="row">
                <div class="col-sm-12">
                    <p text-center class="smallWidth">
                        The latest open source project which is currently being carried out , is the Github commit tracking web application. The web application can dynamically load the leaderboard and the top three contributors to any specified GitHub repository of a specified GitHub organization.
                    </p>
                    <br>
                    <p text-center class="smallWidth">
                        The reason why we came up with this project was to boost up contribution levels by rewarding the top contributor each month , with an official MCCIIT t-shirt and other rewards
                    </p>

                    <img class="img-responsive tshirtImg" src="../../assets/img/tshirt.png" >

                    <br>
                    <br>
                    <a [routerLink]="['/contribute']" > How can i win a T-Shirt ? </a>
                </div>
            </div>
        </section>

        <br>
        <hr>


        <!-- past events section -->

        <section class="sectionOne">
            <img class="img-responsive aboutImg" src="../../assets/img/calender.png" >
            <h1 class="mainHeading">Past Events</h1>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="../../assets/img/events/installation.png" alt="" srcset="">
                        <br>
                        <div class="caption">
                            <h3 class="nameTitle">Installation</h3>
                            <hr>
                            <h5 class="positionTitle">The inaugural installation ceremony of the Mozilla Campus club of IIT (2018/2019)</h5>
                        </div>

                        <hr>
                        <a href="" >More Info</a>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="../../assets/img/events/crowd.png" alt="" srcset="">
                        <div class="caption">
                            <h3 class="nameTitle">Crowd Sourcing</h3>
                            <hr>
                            <h5 class="positionTitle">Introduction to Crowd Sourcing by Mr.Praveen Dass - Crowsource program manager at Google </h5>
                        </div>

                        <hr>
                        <a href="" >More Info</a>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="../../assets/img/events/hacktober.png" alt="" srcset="">
                        <div class="caption">
                            <h3 class="nameTitle">Hactoberfest</h3>
                            <hr>
                            <h5 class="positionTitle">This event was conducted to raise awareness about this challenge which was happening last October. </h5>
                        </div>
                        <hr>
                        <a href="" >More Info</a>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img src="../../assets/img/events/first.jpg" alt="" srcset="">
                        <br>
                        <div class="caption">
                            <h3 class="nameTitle">Club Initiation</h3>
                            <hr>
                            <h5 class="positionTitle">The begging of the Mozilla Campus Club at Informatics Institute of Technology</h5>
                        </div>
                        <hr>
                        <a href="" >More Info</a>
                        <br>
                        <br>
                    </div>
                </div> 
                </div> 
        </section>
    </div>
</div>

<br>
<br>