.container-fluid{
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.mainHeading{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 300;
}
.header{
    background-color: rgb(15, 15, 15);
    color: white;
}

.pageBody{
    min-height:1000px;
}