



<div class="container-fluid header">
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mainHeading">COMMITTEE</h1>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mainHeading"> 
            Executive Committee
            </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/devon.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Devon Wijesinghe</h3>
              <hr>
              <h5 class="positionTitle">President</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/thiva.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Mahendran Thivagar</h3>
              <hr>
              <h5 class="positionTitle">Vice-President</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/andy.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Andrea Nimashi</h3>
              <hr>
              <h5 class="positionTitle">Secretary</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/lucky.png" alt="" srcset="">
          <div class="caption">
            <h3 class="nameTitle">Lakjeewa Bandara</h3>
            <hr>
            <h5 class="positionTitle" >Treasurer</h5>
          </div>
        </div>
      </div> 
    </div> 
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mainHeading"> 
            Directors
            </h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../../assets/img/hiri.png" alt="" srcset="">
            <div class="caption">
              <h3 class="nameTitle">Hirishegan Karuneswaran</h3>
              <hr>
              <h5 class="positionTitle">Communcation Director</h5>
            </div>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../../assets/img/sam.png" alt="" srcset="">
            <div class="caption">
              <h3 class="nameTitle">Samson George</h3>
              <hr>
              <h5 class="positionTitle" >Marketing Director</h5>
            </div>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../../assets/img/missing.png" alt="Pic" srcset="">
            <div class="caption">
              <h3 class="nameTitle">Kushel Ramanayake</h3>
              <hr>
              <h5 class="positionTitle" >Marketing Director</h5>
            </div>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../../assets/img/akila.png" alt="" srcset="">
            <div class="caption">
              <h3 class="nameTitle">Akila Kariyawasm</h3>
              <hr>
              <h5 class="positionTitle" >Event Director</h5>
            </div>
          </div>
        </div> 
    </div>


    
    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/thinesh.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Vaseeharan Thinesharan</h3>
              <hr>
              <h5 class="positionTitle">Event Director</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/dilum.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Dilum De Sliva</h3>
              <hr>
              <h5 class="positionTitle">Event Director</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/pasan.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Pasan Ganewatte</h3>
              <hr>
              <h5 class="positionTitle">Level Director</h5>
          </div>
        </div>
      </div>
  
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="../../assets/img/shani.png" alt="" srcset="">
            <div class="caption">
                <h3 class="nameTitle">Shaini Nanayakkara</h3>
                <hr>
                <h5 class="positionTitle">Level Director</h5>
            </div>
          </div>
        </div>
    </div> 

    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <img src="../../assets/img/chatu.png" alt="" srcset="">
          <div class="caption">
              <h3 class="nameTitle">Chathuranga Adhikari</h3>
              <hr>
              <h5 class="positionTitle">Level Director</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 


<span id="typed"></span>
<div id="typed-strings">
    <p >Typed.js is a <strong>JavaScript</strong> library.</p>
   <p>It <em>types</em> out sentences.</p>
</div>

<span id="typed"></span>


 -->
